# Estudio de emisiones de Dioxido de Carbono

## Estudiante: Gil Diaz Araya

## Objetivo

Cargar un archivo 'Carbon_Dioxide_Emission_Estimates.csv' responder las siguientes preguntas

## Contexto

Se tiene un set de datos contenido en un archivo del tipo csv.

El archivo es 'Carbon_Dioxide_Emission_Estimates.csv'.

A continuación se presenta el paso cero para leer del archivo que contiene 2 tipos de filas según sea el valor en la columna 'Type':

- Emissions_thousand__metric_tons_of_carbon_dioxide
- Emissions_per_capita__metric_tons_of_carbon_dioxide

El valor de las emisiones están en medidas de Toneladas métricas de Dióxido de Carbono

# Pregunta 0

1. Crear un dataframe con el nombre de variable 'df_emisions_co2' usando únicamente las filas cuya columna 'Type' tiene el valor 'Emissions (thousand metric tons of carbon dioxide)'

2. Crear un dataframe con el nombre de variable 'df_emisions_co2_per_capita' usando únicamente las filas cuya columna 'Type' tiene el valor Emissions per capita (metric tons of carbon dioxide)

In [78]:
import pandas as pd

In [79]:
df = pd.read_csv("Carbon_Dioxide_Emission_Estimates.csv")
data = 'Emissions (thousand metric tons of carbon dioxide)'
df_emisions_co2 = df[df['Type']==data]
df_emisions_co2

,Country,Year,Type,Value
0,Albania,1975,Emissions (thousand metric tons of carbon diox...,4338.334
1,Albania,1985,Emissions (thousand metric tons of carbon diox...,6929.926
2,Albania,1995,Emissions (thousand metric tons of carbon diox...,1848.549
3,Albania,2005,Emissions (thousand metric tons of carbon diox...,3825.184
4,Albania,2010,Emissions (thousand metric tons of carbon diox...,3930.295
...,...,...,...,...
2119,Zimbabwe,2005,Emissions (thousand metric tons of carbon diox...,10272.774
2120,Zimbabwe,2010,Emissions (thousand metric tons of carbon diox...,9464.714
2121,Zimbabwe,2015,Emissions (thousand metric tons of carbon diox...,11822.362
2122,Zimbabwe,2016,Emissions (thousand metric tons of carbon diox...,10368.900
2123,Zimbabwe,2017,Emissions (thousand metric tons of carbon diox...,9714.938

In [80]:
df = pd.read_csv("Carbon_Dioxide_Emission_Estimates.csv")
data = 'Emissions per capita (metric tons of carbon dioxide)'
df_emisions_co2_per_capita = df[df['Type']==data]
df_emisions_co2_per_capita

       Country  Year                                               Type  Value
8      Albania  1975  Emissions per capita (metric tons of carbon di...  1.804
9      Albania  1985  Emissions per capita (metric tons of carbon di...  2.337
10     Albania  1995  Emissions per capita (metric tons of carbon di...  0.580
11     Albania  2005  Emissions per capita (metric tons of carbon di...  1.270
12     Albania  2010  Emissions per capita (metric tons of carbon di...  1.349
...        ...   ...                                                ...    ...
2127  Zimbabwe  2005  Emissions per capita (metric tons of carbon di...  0.794
2128  Zimbabwe  2010  Emissions per capita (metric tons of carbon di...  0.672
2129  Zimbabwe  2015  Emissions per capita (metric tons of carbon di...  0.749
2130  Zimbabwe  2016  Emissions per capita (metric tons of carbon di...  0.642
2131  Zimbabwe  2017  Emissions per capita (metric tons of carbon di...  0.588

[1066 rows x 4 columns]

# Pregunta 1

Cuántas filas tiene el dataframe 'df_emisions_co2'?

In [81]:
# Coloque el código que responda a la pregunta aqui

df_emisions_co2.shape[0]

1066

# Pregunta 2

Cuál en el valor más alto de emisiones (en general) usando el dataframe 'df_emisions_co2'?

In [82]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

valor_maximo = df_emisions_co2.loc[df_emisions_co2['Value'].idxmax()]

print('El valor más alto es:')
print(valor_maximo)

El valor más alto es:
Country                                                China
Year                                                    2017
Type       Emissions (thousand metric tons of carbon diox...
Value                                              9257933.9
Name: 353, dtype: object

# Pregunta 3

Cuántos países (Countries) hay en el dataframe 'df_emisions_co2'?

In [83]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

df_emisions_co2.columns

numero_paises = df_emisions_co2['Country'].nunique()
numero_paises

142

In [84]:
#Imprima un lista con todos los paises

lista_paises = df_emisions_co2['Country'].drop_duplicates().tolist()

print(lista_paises)

['Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Benin', 'Bolivia (Plurin. State of)', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Cambodia', 'Cameroon', 'Canada', 'Chile', 'China', 'China, Hong Kong SAR', 'Colombia', 'Congo', 'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia', "Dem. People's Rep. Korea", 'Dem. Rep. of the Congo', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Eritrea', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Guatemala', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lebanon', 'Libya', 'Lithuania', 'Luxembourg', 'Malaysia', 'Malta', 'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Romania', 'Russian Federation', 'Saudi Arabia', 'Senegal', 'Serbia', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'North Macedonia', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United Rep. of Tanzania', 'United States of America', 'Uruguay', 'Uzbekistan', 'Venezuela (Boliv. Rep. of)', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']

# Pregunta 4

Cuál es el país que tiene mayor emisiones usando el dataframe 'df_emisions_co2'?

In [85]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

suma_emisiones = df_emisions_co2.groupby('Country')['Value'].sum()
pais_mayor_emisiones = suma_emisiones.idxmax()

print(pais_mayor_emisiones)

China

# Pregunta 5

Cuál es el año que tiene mayor emisiones para el país de Spain usando el dataframe 'df_emisions_co2'?

In [86]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

df_emisions_co2_spain = df_emisions_co2[df_emisions_co2['Country'] == 'Spain']
año_mayor_emision = df_emisions_co2_spain.loc[df_emisions_co2_spain['Value'].idxmax(), 'Year',]

print('El año que tiene mayores emisiones es el', año_mayor_emision)

El año que tiene mayores emisiones es el 2005

# Pregunta 6

Cuáles son los años que se tiene registros para el dataframe 'df_emisions_co2_per_capita'?

Entrege una lista con los años sin repetirse

In [87]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

numero_años = df_emisions_co2_per_capita['Year'].unique()

print('Los años son:', numero_años)

lista_años = df_emisions_co2_per_capita['Year'].drop_duplicates().tolist()

print('Lista de años', lista_años)

Los años son: [1975 1985 1995 2005 2010 2015 2016 2017]
Lista de años [1975, 1985, 1995, 2005, 2010, 2015, 2016, 2017]

# Pregunta 7

Cuántas son las emisiones en 'toneladas métricas' en total usando todos los países para usando el dataframe 'df_emisions_co2'?

In [88]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

toneladas_metricas = df_emisions_co2['Value'].sum()

print('Las emisiones totales en toneladas metricas son:', toneladas_metricas)

Las emisiones totales en toneladas metricas son: 195028250.41599998

# Pregunta 8

Cuántas son las emisiones en 'toneladas métricas' sólo para Albania usando el dataframe 'df_emisions_co2'?

In [89]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

emisiones_Albania = df_emisions_co2[df_emisions_co2['Country'] == 'Albania']
suma_emisiones_Albania = emisiones_Albania['Value'].sum()

print('Las emisiones totales de Albania en toneladas metricas son:', suma_emisiones_Albania)

Las emisiones totales de Albania en toneladas metricas son: 32713.283000000003

# Pregunta 9

Cuántas son las emisiones en 'libras' sólo para Costa Rica usando el dataframe 'df_emisions_co2'?

In [90]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

emisiones_CR = df_emisions_co2[df_emisions_co2['Country'] == 'Costa Rica']
CR_emisiones = emisiones_CR['Value'].sum()
CR_emisiones_libras = CR_emisiones * 2.204

print('Las emisiones en Costa Rica toneldas metricas son', CR_emisiones)
print('Las emisiones en Costa Rica en libras son', CR_emisiones_libras )

Las emisiones en Costa Rica toneldas metricas son 42223.107
Las emisiones en Costa Rica en libras son 93059.72782800002

# Pregunta 10

Para sólo 'Costa Rica' y suponiendo que las emisiones se estancan a partir del último año reportado. Cuántas son las emisiones en 'Kg' sólo para Costa Rica en el año 2022 usando el dataframe 'df_emisions_co2'?

In [96]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

emisiones_CR2022 = df_emisions_co2[df_emisions_co2['Country']=='Costa Rica'].sort_values(by='Year').iloc[-1]

print('Las emisiones de Costa Rica en KG en el año 2022 son:', emisiones_CR2022['Value'])

Las emisiones de Costa Rica en KG en el año 2022 son: 7584.411

# Pregunta 12

Para sólo los países de Centroamérica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un reporte por año de las emisiones totales en Centroamérica usando el dataframe 'df_emisions_co2'?
Se espera un dataframe de 2 columnas: 'Year' y 'total_por_año'

In [97]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

centroamerica = ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua']
emision_cen = df_emisions_co2[df_emisions_co2['Country'].isin(centroamerica)]
reporte_cen = emision_cen.groupby('Year')['Value'].sum().reset_index()
reporte_cen.rename(columns={'Value':'total_por_año'}, inplace = True)
reporte_cen

   Year  total_por_año
0  1975       9860.972
1  1985      10250.333
2  1995      20960.234
3  2005      33562.291
4  2010      34533.555
5  2015      43107.376
6  2016      44366.072
7  2017      43556.261

# Pregunta 13

Para sólo los países de Centroamérica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un reporte por año de las emisiones en promedio en Centroamérica usando el dataframe 'df_emisions_co2_per_capita'?
Se espera un dataframe de 2 columnas: 'Year' y 'promedio_por_año'

In [98]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

centroamerica2 = ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua']
emision_cen2 = df_emisions_co2_per_capita[df_emisions_co2_per_capita['Country'].isin(centroamerica2)]
reporte_cen2 = emision_cen.groupby('Year')['Value'].mean().reset_index()
reporte_cen2.rename(columns={'Value':'promedio_por_año'}, inplace = True)
reporte_cen2

   Year  promedio_por_año
0  1975         1972.1944
1  1985         2050.0666
2  1995         4192.0468
3  2005         6712.4582
4  2010         6906.7110
5  2015         8621.4752
6  2016         8873.2144
7  2017         8711.2522

# Pregunta 14

Cuál es el promedio de las emisiones per capita para el año 2005 usando el dataframe 'df_emisions_co2_per_capita'?

In [100]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

emisiones2025 = df_emisions_co2_per_capita[(df_emisions_co2_per_capita['Year'] == 2005)]
promemisiones2025 = emisiones2025['Value'].mean()


print('El promedio de las emisiones per capita para el año 2005 es:', promemisiones2025)

El promedio de las emisiones per capita para el año 2005 es: 5.29775